.ignite__container{
    background: var(--color-bg1);
    padding: 4rem;
    /* display: grid;
    grid-template-columns: 100%; */
    /* gap: 4rem; */
    height: 125rem;
    margin: 7rem auto;
    border-radius: 1rem;
}
.ignite__form{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    /* margin-right: 4rem; */

}
.form__name{
    display: flex;
    gap: 1.2rem;
}
.ignite__form input[type="text"]{
    width:50%
}
input,textarea{
    width: 100%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
}
.ignite__form .btn{
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
}

/* =================MEDIA QUERIES FOR TABLET====== */

@media screen and (max-width: 1024px){
    .contact{
        padding-bottom: 0;
    }
    .contact__container{
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }    

    .contact__aside{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }

    .contact__form{
        align-self: center;
        margin-right: 1.5rem;
    }
}

/* =================MEDIA QUERIES FOR mobile====== */

@media screen and (max-width: 600px){
    .contact__container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }

    .contact__form{
        margin:  0 1.5rem 3rem;
    }

    .form__name{
        flex-direction: column;
    }

    .form__name input[type="text"]{
        width: 100%;
    }
}
